html {
  scroll-padding-top: 70px;
  scroll-behavior: smooth;

}

body {
  font-size: .875rem;
  font-family: $font-family-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dark;

  @media (min-width: $sm) {
    font-size: $font-size;
  }

}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 3px;
  background-color: $primary;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin: 0 0 20px;
}

a {
  text-decoration: none;
}

p {
  margin: 0 0 20px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

input, textarea, button {
  outline: none;
}

textarea {
  resize: none;
}

input[type=search]::-ms-clear,
input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

a {
  color: #0F0F10;
}

.active-page-nav {
  color: #fff;
}

.navigation {
  scroll-margin-top: 75px;
}
