//@import 'helpers/placeholders';
//@import 'mixins/background-decor';

// Colors
$white: #fff;
$light: #f9fbff;
$lightness: #f2f6ff;
$light-900: #dbebff;
$gray: #757575;
$gray-400: #b3b3b3;
$gray-600: #dcdcdcff;
$danger: #ff9d9d;
$danger-dark: #ff4a4a;
$success: #28a745;
$dark: #0f0f10;

$primary: rgba(86, 92, 71, 1);

$primary-light: #6e8dff;
$primary-dark: #0f38b4;

$primary-dim: #5485F3;


$primary-opacity-80: var(--primary-opacity-80);

$primary-lighten-10: var(--primary-lighten-10);
$primary-lighten-30: var(--primary-lighten-30);
$primary-lighten-40: var(--primary-lighten-40);



//Box shadow
$box-shadow-primary: 0px 14px 28px rgba(203, 203, 203, 0.25);
$box-shadow-secondary: 0px 4px 10px rgba(0, 0, 0, 0.1);

// Button
$btn-padding-x: 40px;
$btn-padding-y: 14px;

// Transition
$transition-time-main: 0.5s;

// Font
$font-size: 1rem;
$font-family-primary: 'Futura', sans-serif;

// Media breakpoint
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
